In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_csv('Stripe Data Lawpath- GA.csv')
df2 = pd.read_csv('Chargify Data Lawpath- GA (1).csv')

In [4]:
#Exploring and understanding the STRIPE dataset

df1.head(1)

,Purchase Description,id,Created (UTC),amount,Amount Refunded,Currency,Converted Amount,Converted Amount Refunded,Fee,Tax,Converted Currency,Status,Customer ID,Chargify Customer ID
0,Other,ch_103Yj32lFvsl0OXK0bNpvk6w,25/02/2014 3:10,89.0,0,aud,89.0,0,2.45,0.25,aud,Paid,cus_3Yj3561p02vmNN,NaN

In [5]:
df1.shape

(48422, 14)

In [6]:
df1.columns

Index(['Purchase Description', 'id', 'Created (UTC)', 'amount',
       'Amount Refunded', 'Currency', 'Converted Amount',
       'Converted Amount Refunded', 'Fee', 'Tax', 'Converted Currency',
       'Status', 'Customer ID', 'Chargify Customer ID'],
      dtype='object')

In [7]:
df1['Amount Refunded'].unique()

array([0], dtype=int64)

In [8]:
df1['Currency'].unique()

array(['aud'], dtype=object)

In [9]:
df1['Converted Amount Refunded'].unique()

array([0], dtype=int64)

In [10]:
#I chose to drop the 'Amount Refunded', 'Currency','Converted Amount Refunded','Converted Amount','Converted Currency' 
#columns as they did not pertain to my analysis or had insufficient values to be useful. I am also dropping the 'Fee' and
#'Tax' columns as they refer to the stripe fees and taxes, which is the same percentage of every transaction.

In [11]:
df1.drop(columns=['Amount Refunded','Currency','Converted Amount Refunded','Converted Currency','Converted Amount', 'Fee', 'Tax'], inplace=True)

In [12]:
df1.head(1)

,Purchase Description,id,Created (UTC),amount,Status,Customer ID,Chargify Customer ID
0,Other,ch_103Yj32lFvsl0OXK0bNpvk6w,25/02/2014 3:10,89.0,Paid,cus_3Yj3561p02vmNN,NaN

In [13]:
#Next step was to clean the Purchase Description and simplify the values in this column.
df1['Purchase Description'].unique()

array(['Other', '6 month beta-Renewal', 'Basic Plan-Signup',
       'Company Starter Plan', 'Basic Plan-Renewal',
       'Essentials Plan (Promo)-Signup',
       'Essentials Plan (Promo)-Renewal', 'Essential-Signup',
       'Marketplace', 'ACN-External Starter', 'Essential-Renewal',
       'BEC Special-Signup', 'ACN Half Yearly-Renewal',
       'ACN-External Basic', 'ACN Annual Plan-Renewal',
       'ACN Half Yearly-Signup',
       'Australian Business Number charge for Individual: 1 pcs',
       'Paying Platform Lawyer: Signup',
       'Paying Platform Lawyer: Renewal', 'BEC Special-Renewal',
       '6 month beta-Signup', 'Company Changes',
       'Legal Advice Plan (Promo)-Signup', 'ACN-External Standard',
       'ACN-External Full Protection', 'Company Legal Advice Plan',
       'Company Essentials Plan', 'VO-Renewal',
       'Company Starter Plan+Virtual Office', 'VO-Signup',
       'Company Essentials Plan+Virtual Office',
       'Virtual Office-Mail Forwarding', 'ACN-Internal Standard',
       'ACN-Internal Basic', 'Virtual Office-Signup', 'Company Renewal',
       'Essentials Plan-Upgrade', 'Legal Advice Plan-Upgrade',
       'Legal Advice Plan-Signup', 'Virtual Office-Renewal',
       'Legal Advice Plan (Promo)-Renewal',
       'Essentials Plan (Promo)+Virtual Office-Renewal',
       'Company Legal Advice Plan+Virtual Office',
       'Australian Business Name charge for Individual: 1 pcs',
       'Essentials Plan-Signup',
       'Essentials Plan (Promo)+Virtual Office-Signup',
       'Legal Advice Plan-Renewal'], dtype=object)

In [14]:
df1['Purchase Description'].replace({'Basic Plan-Signup':'Basic Plan',
                                    'Essentials Plan (Promo)-Signup':'Essentials Plan',
                                    'Essentials Plan (Promo)-Renewal': 'Essentials Plan',
                                    'Essential-Signup':'Essentials Plan',
                                    'Basic Plan-Renewal':'Basic Plan',
                                    'Essential-Renewal':'Essentials Plan',
                                    'Company Essentials Plan':'Essentials Plan',
                                    'Company Essentials Plan+Virtual Office':'Essentials Plan',
                                    'Essentials Plan-Upgrade':'Essentials Plan',
                                    'Essentials Plan (Promo)+Virtual Office-Renewal':'Essentials Plan',
                                    'Essentials Plan-Signup':'Essentials Plan',
                                    'Essentials Plan (Promo)+Virtual Office-Signup':'Essentials Plan',
                                    'ACN-External Starter':'ACN',
                                    'ACN-External Basic':'ACN',
                                    'ACN Annual Plan-Renewal':'ACN',
                                    'ACN Half Yearly-Signup':'ACN',
                                    'ACN-External Standard': 'ACN',
                                    'ACN-External Full Protection':'ACN',
                                    'ACN-Internal Standard':'ACN',
                                    'ACN-Internal Basic':'ACN',
                                    'ACN Half Yearly-Renewal':'ACN',
                                    'Paying Platform Lawyer: Signup':'Paying Platform Lawyer',
                                    'Paying Platform Lawyer: Renewal':'Paying Platform Lawyer',
                                    'Legal Advice Plan (Promo)-Signup':'Legal Advice Plan',
                                    'Company Legal Advice Plan':'Legal Advice Plan',
                                    'Legal Advice Plan-Upgrade':'Legal Advice Plan',
                                    'Legal Advice Plan-Signup':'Legal Advice Plan',
                                    'Legal Advice Plan (Promo)-Renewal':'Legal Advice Plan',
                                    'Company Legal Advice Plan+Virtual Office':'Legal Advice Plan',
                                    'Legal Advice Plan-Renewal':'Legal Advice Plan',
                                    'BEC Special-Renewal':'BEC',
                                    'BEC Special-Signup':'BEC',
                                    'VO-Renewal':'Virtual Office',
                                    'Company Starter Plan+Virtual Office':'Virtual Office',
                                    'VO-Signup':'Virtual Office',
                                    'Virtual Office-Mail Forwarding':'Virtual Office',
                                    'Virtual Office-Signup':'Virtual Office',
                                    'Virtual Office-Renewal':'Virtual Office',
                                    'Australian Business Number charge for Individual: 1 pcs':'ABN',
                                    'Australian Business Name charge for Individual: 1 pcs':'ABN',
                                    '6 month beta-Renewal':'Other',
                                    '6 month beta-Signup':'Other',
                                    'Company Changes':'ACN',
                                    'Company Renewal':'ACN'}, inplace=True)
df1['Purchase Description'].unique()

array(['Other', 'Basic Plan', 'Company Starter Plan', 'Essentials Plan',
       'Marketplace', 'ACN', 'BEC', 'ABN', 'Paying Platform Lawyer',
       'Legal Advice Plan', 'Virtual Office'], dtype=object)

In [15]:
#Converting it to csv form:
df1.to_csv('FINAL STRIPE.csv')

In [16]:
#Describe and explore the Chargiry Dataset
df2.describe()

,id,customer_id,product_id,next_product_id,recurring_price,recurring_interval,created_at_day,created_at_month,created_at_year,canceled_at_day,canceled_at_month,canceled_at_year,balance_in_cents,balance,revenue_in_cents,revenue,product_version_number,referral_code,product_price_point_id
count,2.115980e+05,2.115980e+05,2.115980e+05,1.360000e+02,211598.000000,211598.000000,211598.000000,211598.000000,211598.000000,6876.000000,6876.000000,6876.000000,211598.000000,211598.000000,211598.000000,211598.000000,0.0,0.0,2.115980e+05
mean,2.791722e+07,2.805433e+07,3.777904e+06,5.041808e+06,16.137842,19.359474,15.778164,6.548266,2018.829682,16.053083,6.790867,2018.936446,505.343623,5.053436,2292.808235,22.928082,NaN,NaN,2.004407e+05
std,8.274157e+06,8.883960e+06,2.514353e+05,4.553721e+05,75.196551,8.694737,8.720411,3.494414,1.557824,8.620800,3.461272,1.591579,8741.348524,87.413485,12896.710822,128.967108,NaN,NaN,1.450535e+05
min,7.648758e+06,7.503912e+06,3.637277e+06,3.637278e+06,0.000000,1.000000,1.000000,1.000000,2015.000000,1.000000,1.000000,2015.000000,-28799.000000,-287.990000,0.000000,0.000000,NaN,NaN,1.282330e+05
25%,2.205031e+07,2.132963e+07,3.721588e+06,5.244731e+06,0.000000,24.000000,8.000000,3.000000,2018.000000,9.000000,4.000000,2018.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.649920e+05
50%,2.937262e+07,3.000074e+07,3.721588e+06,5.252370e+06,0.000000,24.000000,16.000000,7.000000,2019.000000,16.000000,7.000000,2019.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.649920e+05
75%,3.492009e+07,3.579029e+07,3.721588e+06,5.252370e+06,0.000000,24.000000,23.000000,10.000000,2020.000000,23.000000,10.000000,2020.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.649920e+05
max,3.994458e+07,4.093600e+07,5.449729e+06,5.252370e+06,828.000000,48.000000,31.000000,12.000000,2021.000000,31.000000,12.000000,2021.000000,338100.000000,3381.000000,656700.000000,6567.000000,NaN,NaN,1.181981e+06

In [17]:
#I added another column called 'period' to the Chargify data in excel, which concatenated 'recurring interval' and 
#'recurring_interval_unit'.

In [21]:
df2 = pd.read_csv('Chargify Data Lawpath- GA (1) - Copy.csv')

In [22]:
df2.describe()

,id,customer_id,product_id,next_product_id,recurring_price,recurring_interval,created_at_day,created_at_month,created_at_year,canceled_at_day,canceled_at_month,canceled_at_year,balance_in_cents,balance,revenue_in_cents,revenue,product_version_number,referral_code,product_price_point_id
count,2.115980e+05,2.115980e+05,2.115980e+05,1.360000e+02,211598.000000,211598.000000,211598.000000,211598.000000,211598.000000,6876.000000,6876.000000,6876.000000,211598.000000,211598.000000,211598.000000,211598.000000,0.0,0.0,2.115980e+05
mean,2.791722e+07,2.805433e+07,3.777904e+06,5.041808e+06,16.137842,19.359474,15.778164,6.548266,2018.829682,16.053083,6.790867,2018.936446,505.343623,5.053436,2292.808235,22.928082,NaN,NaN,2.004407e+05
std,8.274157e+06,8.883960e+06,2.514353e+05,4.553721e+05,75.196551,8.694737,8.720411,3.494414,1.557824,8.620800,3.461272,1.591579,8741.348524,87.413485,12896.710822,128.967108,NaN,NaN,1.450535e+05
min,7.648758e+06,7.503912e+06,3.637277e+06,3.637278e+06,0.000000,1.000000,1.000000,1.000000,2015.000000,1.000000,1.000000,2015.000000,-28799.000000,-287.990000,0.000000,0.000000,NaN,NaN,1.282330e+05
25%,2.205031e+07,2.132963e+07,3.721588e+06,5.244731e+06,0.000000,24.000000,8.000000,3.000000,2018.000000,9.000000,4.000000,2018.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.649920e+05
50%,2.937262e+07,3.000074e+07,3.721588e+06,5.252370e+06,0.000000,24.000000,16.000000,7.000000,2019.000000,16.000000,7.000000,2019.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.649920e+05
75%,3.492009e+07,3.579029e+07,3.721588e+06,5.252370e+06,0.000000,24.000000,23.000000,10.000000,2020.000000,23.000000,10.000000,2020.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1.649920e+05
max,3.994458e+07,4.093600e+07,5.449729e+06,5.252370e+06,828.000000,48.000000,31.000000,12.000000,2021.000000,31.000000,12.000000,2021.000000,338100.000000,3381.000000,656700.000000,6567.000000,NaN,NaN,1.181981e+06

In [23]:
df2.shape

(211598, 45)

In [24]:
df2.head(1)

,id,customer_id,state,product_id,next_product_id,product_name,recurring_price,recurring_interval,recurring_interval_unit,period,...,referral_code,state_changed_at,cancellation_method,reason_code,payment_collection_method,payment_profile_type,currency,currency_symbol,product_price_point_id,product_price_point_name
0,7648758,7503912,canceled,3666277,NaN,Standard Monthly,49,1,month,1 month,...,NaN,2018-02-27 09:11:28 +1100,merchant_ui,CH:Unknown,automatic,CreditCard,AUD,$,139067,Default

In [25]:
df2.columns

Index(['id', 'customer_id', 'state', 'product_id', 'next_product_id',
       'product_name', 'recurring_price', 'recurring_interval',
       'recurring_interval_unit', 'period', 'coupon', 'created_at',
       'created_at_day', 'created_at_month', 'created_at_year',
       'current_period_starts_at', 'current_period_ends_at',
       'next_assessment_at', 'trial_started_at', 'trial_ended_at',
       'activated_at', 'expires_at', 'canceled_at', 'canceled_at_day',
       'canceled_at_month', 'canceled_at_year', 'cancellation_message',
       'balance_in_cents', 'balance', 'revenue_in_cents', 'revenue',
       'cancel_at_end_of_period', 'delayed_cancel_at',
       'product_version_number', 'updated_at', 'referral_code',
       'state_changed_at', 'cancellation_method', 'reason_code',
       'payment_collection_method', 'payment_profile_type', 'currency',
       'currency_symbol', 'product_price_point_id',
       'product_price_point_name'],
      dtype='object')

In [26]:
#I chose to drop the following columns: 'recurring_interval', 'recurring_interval_unit','created_at_day', 'created_at_month',
#'next_assessment_at', 'activated_at','expires_at','canceled_at_day','canceled_at_month','cancellation_message',
#'balance_in_cents', 'balance','revenue_in_cents','cancellation_method','payment_collection_method', 'payment_profile_type', 'currency',
#'currency_symbol'.

In [27]:
df2.drop(columns = ['recurring_interval', 'recurring_interval_unit','created_at_day', 'created_at_month',
'next_assessment_at', 'activated_at','expires_at','canceled_at_day','canceled_at_month','cancellation_message',
'balance_in_cents', 'balance','revenue_in_cents','cancellation_method','payment_collection_method', 'payment_profile_type', 
'currency','currency_symbol'], inplace = True)

In [28]:
df2.columns

Index(['id', 'customer_id', 'state', 'product_id', 'next_product_id',
       'product_name', 'recurring_price', 'period', 'coupon', 'created_at',
       'created_at_year', 'current_period_starts_at', 'current_period_ends_at',
       'trial_started_at', 'trial_ended_at', 'canceled_at', 'canceled_at_year',
       'revenue', 'cancel_at_end_of_period', 'delayed_cancel_at',
       'product_version_number', 'updated_at', 'referral_code',
       'state_changed_at', 'reason_code', 'product_price_point_id',
       'product_price_point_name'],
      dtype='object')

In [29]:
df2.product_name.unique()

array(['Standard Monthly ', '6 month beta plan', 'Monthly beta plan',
       'Freemium', 'Standard Monthly No Trial', 'Essentials Plan (Promo)',
       'Free LawPath Subscription ', 'LawPath Ambassador ', 'Basic Plan',
       'CeBit Free Trial ', 'Default Transactional Plan', 'Easy-ESS',
       'Quotes', 'Essentials Plan', 'Legal Health Check ',
       'Quote Customer Plan', 'ACN Annual Plan', 'Free Company Plan',
       'NRF Investment Package', 'NRF Convertible Note Package',
       'NRF Employment Package', 'Hackathon', 'ACN Half-Yearly Plan',
       'New Annual ACN Subscription', 'Platform Lawyer',
       'Legal Advice Plan (Promo)', 'DIY Will Document',
       'Small Business Essentials', 'Company Starter Plan',
       'Company Essentials Plan', 'Legal Advice Plan',
       'Paying Platform Lawyer', 'Virtual Office Address',
       'Company Legal Advice Plan', 'ASIC Company Renewal',
       'Virtual Office', 'ASIC Company Change '], dtype=object)

In [30]:
#Following advice from Chandni, I dropped combined all rows that contained 'Basic Plan', 'Company Essentials Plan',
#'Essentials Plan','Essentials Plan (Promo)','Small Business Essentials','Free Company Plan','Freemium','Hackathon',
#'LawPath Ambassador','Quotes','Company Legal Advice Plan','Legal Advice Plan','Legal Advice Plan' or
#'Legal Advice Plan (Promo)' into either Basic Plan, Essentials Plan or Legal Advice Plan.

In [31]:
df2.replace({'6 month beta plan':'Beta Plans',
            'Monthly beta plan':'Beta Plans',
            'Free LawPath Subscription ':'Free Trials',
            'CeBit Free Trial ':'Free Trials',
            'Quote Customer Plan':'Quotes',
            'Essentials Plan (Promo)':'Essentials Plan',
            'Legal Advice Plan (Promo)':'Legal Advice Plan',
            'Company Essentials Plan': 'Essentials Plan',
            'Company Legal Advice Plan':'Legal Advice Plan',
            'ACN Annual Plan':'ACNs',
            'New Annual ACN Subscription':'ACNs',
            'ACN Half-Yearly Plan':'ACNs',
            'Small Business Essentials':'Company Related Plans',
            'Company Starter Plan':'Company Related Plans',
            'ASIC Company Renewal':'Company Related Plans',
            'ASIC Company Change ': 'Company Related Plans',
            'Virtual Office Address':'Virtual Office',
            'Standard Monthly No Trial':'Basic Plan',
            'Standard Monthly':'Basic Plan',
            'Hackathon':'Freemium',
            'LawPath Ambassador':'Freemium',
            'NRF Investment Package':'NRFs',
            'NRF Convertible Note Package':'NRFs',
            'NRF Employment Package':'NRFs'}, inplace=True)

In [32]:
df2.product_name.unique()

array(['Standard Monthly ', 'Beta Plans', 'Freemium', 'Basic Plan',
       'Essentials Plan', 'Free Trials', 'LawPath Ambassador ',
       'Default Transactional Plan', 'Easy-ESS', 'Quotes',
       'Legal Health Check ', 'ACNs', 'Free Company Plan', 'NRFs',
       'Platform Lawyer', 'Legal Advice Plan', 'DIY Will Document',
       'Company Related Plans', 'Paying Platform Lawyer',
       'Virtual Office'], dtype=object)

In [33]:
df2.to_csv('FINAL CHARGIFY.csv')

In [34]:
#It is worth noting I did attempt to merge the two dataframes but only about 8000 of them lined up. I have attached these 
#notebooks as well incase you with to see my working.

In [35]:
df2.columns

Index(['id', 'customer_id', 'state', 'product_id', 'next_product_id',
       'product_name', 'recurring_price', 'period', 'coupon', 'created_at',
       'created_at_year', 'current_period_starts_at', 'current_period_ends_at',
       'trial_started_at', 'trial_ended_at', 'canceled_at', 'canceled_at_year',
       'revenue', 'cancel_at_end_of_period', 'delayed_cancel_at',
       'product_version_number', 'updated_at', 'referral_code',
       'state_changed_at', 'reason_code', 'product_price_point_id',
       'product_price_point_name'],
      dtype='object')

In [40]:
df2['customer_id'] = pd.to_numeric(df2['customer_id'])

In [45]:
df1.

,Purchase Description,id,Created (UTC),amount,Status,Customer ID,Chargify Customer ID
0,Other,ch_103Yj32lFvsl0OXK0bNpvk6w,25/02/2014 3:10,89.0,Paid,cus_3Yj3561p02vmNN,NaN
1,Other,ch_103ZSA2lFvsl0OXK9uKS2EWj,27/02/2014 1:46,19.0,Paid,cus_3ZSA3oAjYJtoZ1,NaN
2,Other,ch_103Ztl2lFvsl0OXKUrXYQXiP,28/02/2014 6:18,19.0,Paid,cus_3ZtlkJMLpzJh27,NaN
3,Other,ch_103avO2lFvsl0OXKtKAA5D2Y,3/03/2014 0:03,39.0,Paid,cus_3avOKtwHwBvD6H,NaN
4,Other,ch_103avQ2lFvsl0OXKU0niKNCx,3/03/2014 0:05,19.0,Paid,cus_3avOKtwHwBvD6H,NaN

In [49]:
df1['Chargify Customer ID'].dtype

dtype('float64')

In [50]:
df2['customer_id'].dtype

dtype('int64')

In [51]:
df2['customer_id'] = df2['customer_id'].astype(float)

In [55]:
df2['customer_id'].dtype

dtype('float64')

In [56]:
df2['customer_id']

0          7503912.0
1          7504537.0
2          7504540.0
3          7505723.0
4          7506164.0
             ...
211593    40935729.0
211594    40935846.0
211595    40935874.0
211596    40935983.0
211597    40936005.0
Name: customer_id, Length: 211598, dtype: float64

In [57]:
df1['Chargify Customer ID']

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
48417    39459940.0
48418    29071632.0
48419    40722601.0
48420    11100505.0
48421    30520138.0
Name: Chargify Customer ID, Length: 48422, dtype: float64

In [58]:
df2.to_csv('FINAL CHARGIFY.csv')