# Lists Exercises

This is a notebook of lists exercises to get you up to speed with using lists.

I've included hints within the exercise that lead to the documentation. Do your best to read the docs if needed - a little struggle is a good thing!

#### Defining Lists

Define a list called `names` with the following elements:
<ul>
    <li>Krisalyn</li>
    <li>Chloe</li>
    <li>Nisha</li>
    <li>Matthew</li>
    <li>Stefanie</li>
    <li>Sunny</li>
    <li>Arvind</li>
    <li>Henry</li>
    <li>Ravi</li>
</ul>

Once you have defined the list, `names`, use the `print()` function to report the contents to the terminal.

In [80]:
# A:

names = ['Krisalyn','Chloe','Nisha','Matthew','Stefanie','Sunny','Arvind','Henry','Ravi']

names

['Krisalyn',
 'Chloe',
 'Nisha',
 'Matthew',
 'Stefanie',
 'Sunny',
 'Arvind',
 'Henry',
 'Ravi']

In [81]:
type(names)

list

How many elements are in this list? Return the result as an integer value.
<details>
    <summary>Click for hint</summary>
    Use the <a href="https://docs.python.org/3/library/functions.html#len"><code>len</code></a> command!
</details>

In [82]:
# A:
len(names)

9

#### List Slicing

Return the first element in the `names` list, `'Krisalyn'`

In [83]:
# A:
names[0]

'Krisalyn'

Return the second element in the `names` list, `'Chloe'`

In [84]:
# A:
names[1]

'Chloe'

Use [negative indexing](http://knowledgehills.com/python/negative-indexing-slicing-stepping-comparing-lists.htm) to return the _last_ element in the list `names`, `'Ravi'`.

In [85]:
# A:
names[-1]

'Ravi'

Use [negative indexing](http://knowledgehills.com/python/negative-indexing-slicing-stepping-comparing-lists.htm) to return the _second to last_ element in the list `names`, `'Henry'`.

In [86]:
# A:
names[-2]

'Henry'

Use [negative indexing](http://knowledgehills.com/python/negative-indexing-slicing-stepping-comparing-lists.htm) to return the _last two_ elements in the list `names`, `['Henry', 'Ravi']`.

<ul>
    <li>Are there multiple ways to achieve this output?</li>
    <li>Try to come up with as many ways to achieve that result. Wrap the output of each scenario with a <code>print()</code> statement to demonstrate the different ways you can return the same output.</li>
</ul>

In [87]:
# A:
names[-2::1]

['Henry', 'Ravi']

Return the first two names in the `names` list, `['Krisalyn', 'Chloe']`. Remember the `[start:stop:step]` structure. 
<ul>
    <li>Can any of the arguments (numbers) be omitted? If so, which ones?</li>
    <li>Can you use different numbers or negative indexing to achieve the same result?</li>
    <li>Can any extra colons be included? If so, which ones?</li>
    <li>Wrap the output of each of the above scenarios with a <code>print()</code> statement to demonstrate the different ways you can return the same output.</li>
<ul>

In [88]:
# A:
print(names[-9:-7])

['Krisalyn', 'Chloe']

Return the following elements from the `names` list. 
```python
['Krisalyn', 'Nisha', 'Stefanie', 'Arvind', 'Ravi']
```

For your reference, here is the original list, `names`:
```python
['Krisalyn', 'Chloe', 'Nisha', 'Matthew', 'Stefanie', 
'Sunny', 'Arvind', 'Henry', 'Ravi']
```

In contrast to the previous exercises, attempt to use as few extraneous numbers as possible in your final solution.

In [89]:
# A:

Return the following elements from the `names` list. Note that the desired result is the reverse of the original list. That is to say, the last element is now the first element, and vice-versa.
```python
['Ravi', 'Henry', 'Arvind', 'Sunny', 'Stefanie', 
 'Matthew', 'Nisha','Chloe', 'Krisalyn']
```

For your reference, here is the original list, `names`:
```python
['Krisalyn', 'Chloe', 'Nisha', 'Matthew', 'Stefanie', 
'Sunny', 'Arvind', 'Henry', 'Ravi']
```

In [90]:
# A:
names[::2]

['Krisalyn', 'Nisha', 'Stefanie', 'Arvind', 'Ravi']

Return the following elements from the `names` list. 
```python
['Chloe', 'Stefanie', 'Henry']
```

For your reference, here is the original list, `names`:
```python
['Krisalyn', 'Chloe', 'Nisha', 'Matthew', 'Stefanie', 
'Sunny', 'Arvind', 'Henry', 'Ravi']
```

In [91]:
# A:

names[1::3]

['Chloe', 'Stefanie', 'Henry']

- If your name is in the list, add your name to the list using the appropriate method.
- If your is in the list, instead add a classmate whose name is not by using the appropriate method.

In [102]:
# A
names.append('Sagar')

Print out the names list to check if your name now appears.

In [98]:
names.pop(-1)

'Ravi'

In [103]:
names

['Krisalyn',
 'Chloe',
 'Nisha',
 'Matthew',
 'Stefanie',
 'Sunny',
 'Arvind',
 'Henry',
 'Sagar']

In [100]:
names

['Krisalyn',
 'Chloe',
 'Nisha',
 'Matthew',
 'Stefanie',
 'Sunny',
 'Arvind',
 'Henry']

In [65]:
# A:

Remove your name from the names list using the appropriate list method.

In [57]:
# A:

tuple

Print out the names list to check if your name is now gone.

In [101]:
# A:
names

['Krisalyn',
 'Chloe',
 'Nisha',
 'Matthew',
 'Stefanie',
 'Sunny',
 'Arvind',
 'Henry']